body {
    background-color: #2A2D34;
}

h1 {
    text-align: center;
    color: #30C5FF;
    font-family: 'Arial';
    font-size: 48px;
    padding: 20px;
}

.blue-square {
    width: 200px;
    height: 200px;
    margin: 50px;
    background-color:#A0DDE6;
}